---
# front-matter for scss
---

body {
  font-family: sans-serif;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  overflow-y: scroll;
  background-image: url('../images/gregs.jpg');
  background-size: 100vh auto;
  background-attachment: fixed;
}

.main-content {
  position: relative;
  width: 800px;
  margin: 0px auto;
  background: lightgray;
  padding: 20px;
  border-left: 20px solid black;
  border-right: 20px solid black;
  box-shadow: 0 0 500px black;
}

table {
  background: #777;
  font-size: 14px;

  tr {
    background: #aaa;
  }

  td {
    padding-left: 8px;
    position: relative;

    &.not-yet {
      background: pink;
    }

    &.in-progress {
      background: lightyellow;
    }

    &.done {
      background: lightgreen;
    }

    input {
      position: absolute;
    }
  }
}

.tiny {
  font-size: 12px;
}

.welcome {
  font-size: 18px;
}

.right-link {
  float: right;
}

.left-link {
  float: left;
}

.copyright {
  position: absolute;
  font-size: 12px;
  color: gray;
  text-align: center;
  width: 100%;
  pointer-events: none;
}

a {
  text-decoration: underline;
  color: darkblue;
  cursor: pointer;
  z-index: 3;
}

.greg-logo {
  width: 100%;
}

.greg-logo.w80 {
  width: 80%;
}

.page-title.w20 {
  width: 20%;
  font-size: 40px;
  font-weight: bold;
}

.page-title.w20.small {
  font-size: 22px;
}

.page-title.w20.medium {
  font-size: 35px;
}

.right-side-nav {
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 4;
}
.left-side-nav {
  position: fixed;
  border: 2px solid white;
  background: black;
  left: 10px;
  top: 10px;
  z-index: 4;

  a {
    display: block;
    padding: 8px;
    max-width: 100px;
    overflow: visible;

    &.selected {
      background: gray;
    }

    &:hover {
      background: darkgray;
    }
  }

  div {
    padding: 3px;
    background: #eee;
    margin: 5px;
  }
}

.images {
  img {
    max-width: 50%;
  }

  .caption {
    margin-bottom: 12px;
  }

}

.right-nav-link {
  padding: 8px;
  background: darkgray;
  border-radius: 5px;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  width: 40px;
  height: 40px;
  display: inline-block;
  position: relative;

  &.disabled {
    opacity: 0.5;
  }

  .path-name {
    font-size: 14px;
    font-weight: normal;
    color: black;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
  }
}

.hidden {
  display: none;
}
