---
# front-matter for scss
---


body.promotions-page {

  .promotions-list {
    .promotion {
      width: 50%;
      display: inline-block;
      padding: 10px;
      font-size: 18px;
    }

    img {
      width: 38%;
    }
  }

  .fake-form {
    padding: 20px;
    background: #eee;
    font-size: 16px;
  }

  .fake-form-info {
    padding: 0 20px;
  }
}
