---
# front-matter for scss
---

.year-area {
  input {
    border: none;
    margin: 0;
    padding: 3px 0;
    text-align: center;
    width: 40px;

    &[disabled] {
      background: #ddd;
    }
  }
}

.question {
  border: 1px dashed black;
  padding: 10px;
}
