---
layout: default
links:
  - src: turtle0
    id: turtle-puzzle
    size: 700
    step: 5
    text: Me with Turtle
  - src: dubai0
    id: dubai-puzzle
    size: 650
    step: 10
    text: Me in Dubai
---


<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<img src="images/logo.png" class='greg-logo w80'>
<span class='page-title w20 medium'>/ Puzzles</span>
<hr>

Check out this puzzles of Greg.  These puzzles are solved.  Can you unsolve them?
{% include m.html %}
{% for p in page.links %}
  <hr>{% include m.html %}
  <h3 id='{{p.id}}'>{{p.text}}</h3>
  <div class="full-puzzle" style='width: {{p.size}}px; height: {{p.size}}px'>
    {% assign width = p.size | divided_by: p.step %}
    {% assign s = p.step | minus: 1 %}

    {% for xx in (0..s) %}
      {% for yy in (0..s) %}
        {% assign y = yy | times: width %}
        {% assign x = xx | times: width %}
        <span
          class='puzzle-piece sortable'
          style='background-position: -{{y}}px -{{x}}px; background-image: url("/images/{{p.src}}.png"); width: {{width}}px; height: {{width}}px;'
        ></span>
      {% endfor %}
    {% endfor %}
  </div>
{% endfor %}

<br>


<script type="text/javascript">
$( function() {
  $( ".full-puzzle" ).sortable();
  $( ".full-puzzle" ).disableSelection();
} );
</script>
