---
layout: default
---


<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

{% for p in site.data.puzzles %}
  <div class="full-puzzle" style='width: {{p.size}}px; height: {{p.size}}px'>
    {% assign width = p.size | divided_by: p.step %}
    {% assign s = p.step | minus: 1 %}

    {% for xx in (0..s) %}
      {% for yy in (0..s) %}
        {% assign y = yy | times: width %}
        {% assign x = xx | times: width %}
        <span
          class='puzzle-piece sortable'
          style='background-position: -{{y}}px -{{x}}px; background-image: url("/images/{{p.src}}.png"); width: {{width}}px; height: {{width}}px;'
        ></span>
      {% endfor %}
    {% endfor %}
  </div>
{% endfor %}

<br>


<script type="text/javascript">
$( function() {
  $( ".full-puzzle" ).sortable();
  $( ".full-puzzle" ).disableSelection();
} );
</script>
