---
---

<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body class='{{page.path | split: "." | first}}-page'>
    {% include left-nav.html %}
    {% include right-nav.html %}
    <div class="main-content">
      {{ content }}

      {% include footerlinks.html %}

    </div>
    <marquee class='greg-marquee' id='greg-marquee-1'><img src='images/myhead.png' class='rotating flipped'/></marquee>
    <marquee class='greg-marquee flopped' id='greg-marquee-2'><img src='images/myhead.png'/></marquee>
    <marquee class='greg-marquee flipped' id='greg-marquee-3'><img src='images/myhead.png' class='flipped'/></marquee>
    <marquee class='greg-marquee flipped' id='greg-marquee-4'><img src='images/myhead.png'/></marquee>
    <marquee class='greg-marquee rotated flipped' id='greg-marquee-5'><img src='images/myhead.png' class='flipped'/></marquee>
    <!-- <marquee class='greg-marquee rotated flopped' id='greg-marquee-6'><img src='images/myhead.png'/></marquee> -->
  </body>
</html>
